{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <script type="text/javascript" src="{% static '/upload/js/upload.js' %}"></script>
    <!--Using a .min version of JSEncrypt-->
    <script type="text/javascript" src="{% static '/upload/js/jsencrypt.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'upload/css/style.css' %}">
</head>
<body>
<h1 style="text-align: center">The Un-Fucking Believably Safe Credential Sharing Prototype</h1>
<h3 style="text-align: center">AKA, <a class="glow">Outlet</a></h3>
<div class="message_upload">
    <form method="POST" id="message_upload">
        <label>Enter Credentials to send:</label>
        <br /><hr />
        <textarea type="text" id="str" name="str" rows="20" cols="50"></textarea>
    </form>
</div>
<div class="upload_message">
    <form method="POST" action=javascript:EncryptAndUpload(); id="password_field">
        <label>Enter Password:</label>
        <br /><hr />
        <input type="text" id="pw" name="pw"><br><br>
        <input type="submit" value="Submit">
        <a id="msg"></a>
    </form>
</div>
<div class="footer"><p>Developed by <a href="https://github.com/bacon-GIT/Outlet">Josh</p></div>
</body>
</html>